@import url('./variables.scss');

.button-toolbar {
    user-select: none;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc(100% - 2 * var(--margin));
    margin: var(--margin);
    transition: var(--transition);
    background: var(--color-control);
    cursor: pointer;
    border: none;
    border-radius: var(--border-radius);
    font: var(--font);
    color: var(--color-content);
    
    &:hover {
        background: var(--color-control-hover);
    }

    &:active {
        background: var(--color-control-active);
    }

    &:focus {
        outline-color: var(--color-focus-outline);
    }

    &:disabled {
        background: var(--color-bg);
        cursor: default;
        color: var(--color-content-disabled);
        &:hover {
            background: var(--color-bg);
        }

        .icon {
            fill: var(--color-content-disabled);
        }
    }

    .label {
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1.5em;
        margin: auto;
        font: var(--font);
        color: var(--color-content);
        text-align: center;
        vertical-align: middle;
    }

    .badge {
        content: "";
        display: block;
        position: absolute;
        top: 3px;
        left: 55%;
        width: 8px;
        height: 8px;
        background: #2d8ceb;
        border-radius: 100%;
    }
}

.button-toolbar-text {
    text-overflow: ellipsis;
    white-space: nowrap;
}