@import url('./toolbar.scss');

.container-panel-editor {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg);
}

.menu-row {
    height: var(--menu-row-height);
}

.editor {
    min-width: 50px;
    height: calc(100% - var(--menu-row-height));
    min-height: 50px;
}

#buttons-param-id {
    display: flex;
    width: 50%;
    margin: 0;
}

#edit-mode-container {
    width: 50%;
}