@import url('./variables.scss');

:root {
    --preset-item-text-height: 16px;
    --color-preset-item-text: rgb(70, 70, 70);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-preset-item-text: rgb(200, 200, 200);
    }
}

.preset-item {
    display: flex;
    flex-direction: column;
}

.preset-item-thumbnail {
    width: calc(100% - var(--margin) * 2);
    height: calc(100% - var(--margin) * 2 - var(--preset-item-text-height));
    margin: var(--margin);
    transition: var(--transition);
    background-color: var(--color-preset-item);
    cursor: pointer;
    border-radius: var(--border-radius);
    &:hover {
        background-color: var(--color-preset-item-hover);
    }

    &:active {
        background-color: var(--color-preset-item-active);
    }
}

.preset-item-text {
    user-select: none;
    overflow: hidden;
    width: calc(100% - var(--margin) * 4);
    height: var(--preset-item-text-height);
    padding: 0 calc(var(--margin) * 2);
    font-size: 12px;
    color: var(--color-preset-item-text);
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}