@import url('./variables.css');

.dropdown-container {
    position: relative;
}

.dropdown-container::after {
    content: "";
    position: absolute;
    top: 11px;
    right: 18px;
    width: 5.5px;
    height: 5.5px;
    border-right: 2.3px solid var(--color-dropdown-arrow);
    border-bottom: 2.3px solid var(--color-dropdown-arrow);
    transform: rotate(45deg);
    pointer-events: none;
}

.dropdown {
    appearance: none;
    background-color: var(--color-control);
    border: none;
    border-radius: var(--border-radius);
    color: var(--color-content);
    padding-left: 20px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font: var(--font);
    transition: all .2s ease-out;
}

.dropdown:hover {
    background-color: var(--color-control-hover);
}

.dropdown:focus {
    outline: none;
}