@import url('./variables.css');

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

iframe {
    border: none;
    width: 100%;
    user-select: none;
}

#toolbar {
    height: var(--menu-row-height);
}

#panel-editor{
    height: calc(100% - var(--menu-row-height) - var(--apply-button-height) - var(--separator-height));
}

#preset {
    flex-grow: 1;
}

.button-apply {
    width: calc(100% - var(--margin) * 4);
    height: calc(var(--apply-button-height) - var(--margin) * 4);
    margin: calc(var(--margin) * 2);
    background: var(--color-button);
    color: rgb(228, 228, 228);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font: var(--font);
    transition: all .2s ease-out;
}

.button-apply:hover {
    background: var(--color-button-hover);
}

.button-apply:active {
    background: var(--color-button-active);
    cursor: url('../assets/drag.cur'), auto;
}

#separator {
    width: 100%;
    height: var(--separator-height);
    background: var(--color-control);
    margin: 0;
    padding: 0;
    border: none;
    cursor: ns-resize;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-out;
}

#separator:hover {
    background: var(--color-control-hover);
}

#separator:active {
    background: var(--color-control-active);
}

#separator-handle {
    width: min(30%, 150px);
    height: 4px;
    border-radius: 4px;
    background: var(--color-handle);
}

#disabled-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 2147483647;
}