@import url('./toolbar.css');

:root {
    --color-content-searchbar: rgb(70, 70, 70);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-content-searchbar: rgb(180, 180, 180);
    }
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    width: calc(100% - var(--margin) * 2);
    height: calc(100% - var(--margin) * 2);
    margin: var(--margin);
    background: var(--color-bg);
    overflow: hidden;
}

#searchbar {
    width: calc(100% - var(--margin) * 4);
    height: calc(var(--searchbar-height) - var(--margin) * 4);
    margin: calc(var(--margin) * 2);
    background-color: var(--color-bg-editbox);
    color: var(--color-content-searchbar);
    border: none;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 32px;
    box-sizing: border-box;
}

.searchbar-container {
    position: relative;
}

.searchbar-container::before {
    content: '\f002';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 14px;
    display: inline-block;
    color: var(--color-content-searchbar);
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#searchbar:focus {
    outline: none;
}

.menu-row {
    height: 32px;
    margin: var(--margin);
}

#collection-container {
    /*TODO: ゴリ押し*/
    width: 2000px;
    height: 100%;
}

.menu-button {
    flex-grow: 1;
}