@import url('./variables.css');

:root {
    --okcancel-height: 32px;
    --color-cancel: #494949;
    --color-cancel-hover: #3a3a3a;
    --color-cancel-active: #2b2b2b;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

iframe {
    border: none;
    width: 100%;
}

#panel-editor {
    height: calc(100% - var(--okcancel-height));
}

.okcancel-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: var(--color-bg);
    height: var(--okcancel-height);
    padding: var(--margin);
}

.okcancel {
    width: 50%;
    height: calc(100% - 2 * var(--margin));
    margin: var(--margin);
    color: var(--color-content);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    transition: all .2s ease-out;
}

#button-ok {
    background-color: var(--color-button);
}

#button-cancel {
    background-color: var(--color-cancel);
}

#button-ok:hover {
    background-color: var(--color-button-hover);
}

#button-ok:active {
    background-color: var(--color-button-active);
}

#button-cancel:hover {
    background-color: var(--color-cancel-hover);
}

#button-cancel:active {
    background-color: var(--color-cancel-active);
}